#work-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw;
    padding-top: 4vw;
    border: #9db2bf dashed 2px;
    border-left: none;
    border-right: none;
    align-items: center;;
}

.work-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    width: 80vw;
    margin: 5vh;
    border: #9db2bf solid 1px;
}

.work-card img{
    width: 21vh;
    height: 21vh;
}

.work-card p{
    border: #9db2bf solid 1px;
    padding: 5px;
    margin-left: 5px;
    width: 56vw;
    height: 17vh;
    text-align: center;

}

.work-card h3{
    padding-left: 5px;
}
